In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import matplotlib.ticker as mticker
import time
import csv
import dateutil.parser, dateutil.tz as tz
import zoneinfo
from sklearn.preprocessing import MultiLabelBinarizer
import json

In [7]:
with open('../data/google_reviews/meta-Alaska.json', 'r') as f:
    data = [pd.json_normalize(json.loads(line)) for line in f]

# Concatenate the list of dataframes into a single dataframe
df = pd.concat(data, ignore_index=True)
display(df)

JSONDecodeError: Expecting value: line 2 column 1 (char 766)

In [8]:
rating_fn = '../data/google_reviews/rating-Vermont.csv'
meta_fn = '../data/google_reviews/meta-Vermont.json'
# headers = ["user_id","parent_asin","rating","timestamp"]
rating_df = pd.read_csv(rating_fn, header=0)
display(rating_df)
with open(meta_fn, 'r') as f:
    data = [pd.json_normalize(json.loads(line)) for line in f]

meta_df = pd.concat(data, ignore_index=True)
# meta_df = pd.read_json(meta_fn)
# display(meta_df)

,business,user,rating,timestamp
0,0x89e02445cb9db457:0x37f42bff4edf7a43,104490523034805396984,5,1629987079369
1,0x89e02445cb9db457:0x37f42bff4edf7a43,112062684820633635547,5,1626442303453
2,0x89e02445cb9db457:0x37f42bff4edf7a43,110048311042721875910,5,1627319568225
3,0x89e02445cb9db457:0x37f42bff4edf7a43,106174372090234957142,5,1625223629975
4,0x89e02445cb9db457:0x37f42bff4edf7a43,106238734329148428463,5,1630520930973
...,...,...,...,...
841905,0x89e1c79c60aef325:0xbed8bfc41018f020,101031262113246567699,5,1503368927511
841906,0x89e1c79c60aef325:0xbed8bfc41018f020,109751562687532742649,5,1508992170442
841907,0x89e1c79c60aef325:0xbed8bfc41018f020,113511800890575185422,5,1566750149101
841908,0x89e1c79c60aef325:0xbed8bfc41018f020,107697312145259650604,5,1521208726615
841909,0x89e1c79c60aef325:0xbed8bfc41018f020,116320889889089793959,5,1534103599763

JSONDecodeError: Expecting value: line 2 column 1 (char 1101)

In [4]:
df = pd.merge(rating_df, meta_df, left_on=["business"], right_on=["gmap_id"])
df = df[["timestamp", "category"]]
df.dropna(inplace=True)
categories = df["category"].to_numpy()
unique_categories = list(set([item for sublist in categories for item in sublist]))
# for category in unique_categories:
#     df[category] = df['category'].apply(lambda x: 1 if category in x else 0)
# df.drop('category', axis=1, inplace=True)
display(df)

            timestamp                                           category
0       1629987079369  [Security system supplier, Fire protection equ...
1       1629987079369  [Security system supplier, Fire protection equ...
2       1626442303453  [Security system supplier, Fire protection equ...
3       1626442303453  [Security system supplier, Fire protection equ...
4       1627319568225  [Security system supplier, Fire protection equ...
...               ...                                                ...
843251  1503368927511                                    [Orchard, Farm]
843252  1508992170442                                    [Orchard, Farm]
843253  1566750149101                                    [Orchard, Farm]
843254  1521208726615                                    [Orchard, Farm]
843255  1534103599763                                    [Orchard, Farm]

[843064 rows x 2 columns]

In [5]:
mlb = MultiLabelBinarizer(sparse_output=True)

df = df.join(
            pd.DataFrame.sparse.from_spmatrix(
                mlb.fit_transform(df.pop('category')),
                index=df.index,
                columns=mlb.classes_))
display(df)

# np_df = df.to_numpy()

,timestamp,3D printing service,ATM,ATV dealer,ATV rental service,ATV repair shop,Accountant,Accounting firm,Accounting school,Acupuncture clinic,...,Woodworking supply store,Work clothes store,Yamaha motorcycle dealer,Yarn store,Yoga retreat center,Yoga studio,Youth center,Youth hostel,Youth organization,Youth social services organization
0,1629987079369,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1629987079369,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1626442303453,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1626442303453,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1627319568225,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
843251,1503368927511,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
843252,1508992170442,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
843253,1566750149101,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
843254,1521208726615,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
843255,1534103599763,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
def timestamp_to_timeseries(timestamps, start_time, end_time, bin_size):
    hist, _ = np.histogram(timestamps, bins=np.arange(start_time, end_time+bin_size, bin_size))
    return hist

def groupby(df, group_header='category_id', timestamp_header='timestamp'):
    np_df = df[[group_header, timestamp_header]].to_numpy()
    groups, groups_index = np.unique(np_df[:, 0], return_index=True)
    return np.split(np_df[:,1], groups_index[1:]), groups

def timeseries_to_csv(timeseries, group, csv_fn):
    timeseries_group = [group]
    timeseries_group.extend(list(timeseries))
    with open(csv_fn, 'a', newline='') as file:
        writer = csv.writer(file)
        writer.writerow(timeseries_group)

In [6]:
# df['time']=pd.to_datetime(df['timestamp'],unit='s')+datetime.timedelta(hours=8)
start_time = datetime.datetime(2007, 1, 1, 00, 00).timestamp()
end_time = datetime.datetime(2021, 9, 30, 00, 00).timestamp()
bin_size = 60*60 # in seconds
# csv_fn = '../data/google_reviews_vermont.csv'
timestamp_header = 'timestamp'
group_header = 'category'
print(start_time, end_time)

# timeseries_to_csv(np.arange(start_time, end_time+bin_size, bin_size), group_header, csv_fn)
# timestamps_grouped, groups= groupby(df, group_header, timestamp_header)
# for timestamps, group in zip(timestamps_grouped, groups):
#     timeseries = timestamp_to_timeseries(timestamps, start_time, end_time, bin_size)
#     timeseries_to_csv(timeseries, group, csv_fn)

# 1602133857705

1167638400.0 1632985200.0

In [7]:
states = ["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "District_of_Columbia", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New_Hampshire", "New_Jersey", "New_Mexico", "New_York", "North_Carolina", "North_Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode_Island", "South_Carolina", "South_Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West_Virginia", "Wisconsin", "Wyoming"]
# states = ["West_Virginia", "Wisconsin", "Wyoming"]
for state in states:
    start_count_time = time.time()
    rating_fn = f'../data/google_reviews/rating-{state}.csv'
    meta_fn = f'../data/google_reviews/meta-{state}.json'
    csv_fn = f'../data/google_reviews/timeseries_{state}_hourly.csv'
    # headers = ["user_id","parent_asin","rating","timestamp"]
    rating_df = pd.read_csv(rating_fn, header=0)
    meta_df = pd.read_json(meta_fn)
    print('data load time', time.time() - start_count_time)
    df = pd.merge(rating_df, meta_df, left_on=["business"], right_on=["gmap_id"])
    df = df[["timestamp", "category"]]
    df.dropna(inplace=True)

    mlb = MultiLabelBinarizer(sparse_output=True)

    df = df.join(
                pd.DataFrame.sparse.from_spmatrix(
                    mlb.fit_transform(df.pop('category')),
                    index=df.index,
                    columns=mlb.classes_))

    timeseries_to_csv(np.arange(start_time, end_time+bin_size, bin_size), group_header, csv_fn)
    for i, category in enumerate(df.columns[1:]):
        np_df = df[['timestamp', category]].to_numpy()
        category_np = np_df[np_df[:,1]==1, 0] // 1000
        hist = timestamp_to_timeseries(category_np, start_time, end_time, bin_size)
        timeseries_to_csv(hist, category, csv_fn)
    print(f'{state} took {time.time()-start_count_time} seconds')

data load time 6.032813549041748
Alabama took 206.34989500045776 seconds
data load time 0.8592395782470703
Alaska took 42.130271673202515 seconds
data load time 12.190363645553589
Arizona took 451.4396562576294 seconds
data load time 4.1651999950408936
Arkansas took 138.7792603969574 seconds
data load time 56.130860805511475
California took 2199.1487169265747 seconds
data load time 25.987911462783813
Colorado took 417.832483291626 seconds
data load time 4.521362781524658
Connecticut took 142.27690649032593 seconds
data load time 1.377190351486206
Delaware took 60.63455772399902 seconds
data load time 1.4578564167022705
District_of_Columbia took 50.29712986946106 seconds
data load time 44.61304306983948
Florida took 1679.765031337738 seconds
data load time 21.824496030807495
Georgia took 623.9021716117859 seconds
data load time 2.9802300930023193
Hawaii took 86.55922150611877 seconds
data load time 3.138667106628418
Idaho took 114.89557528495789 seconds
data load time 19.73058319091797
Illinois took 611.1212377548218 seconds
data load time 10.985751628875732
Indiana took 329.4534547328949 seconds
data load time 4.814513444900513
Iowa took 134.6566789150238 seconds
data load time 4.990782260894775
Kansas took 144.91014623641968 seconds
data load time 7.352644205093384
Kentucky took 192.744366645813 seconds
data load time 7.779943466186523
Louisiana took 191.9302670955658 seconds
data load time 2.318509340286255
Maine took 71.01326942443848 seconds
data load time 9.210806369781494
Maryland took 274.80181670188904 seconds
data load time 9.82905650138855
Massachusetts took 278.1427402496338 seconds
data load time 17.649328231811523
Michigan took 533.4257695674896 seconds
data load time 8.614678144454956
Minnesota took 254.38094830513 seconds
data load time 3.812138080596924
Mississippi took 100.94209003448486 seconds
data load time 11.748565196990967
Missouri took 342.35179352760315 seconds
data load time 2.374058961868286
Montana took 64.02260708808899 seconds
data load time 2.471395254135132
Nebraska took 93.93108129501343 seconds
data load time 7.470912218093872
Nevada took 221.1130669116974 seconds
data load time 2.9535412788391113
New_Hampshire took 80.19058728218079 seconds
data load time 14.101096391677856
New_Jersey took 406.05452370643616 seconds
data load time 4.62935471534729
New_Mexico took 125.56399917602539 seconds
data load time 28.91472315788269
New_York took 899.1222152709961 seconds
data load time 20.132696628570557
North_Carolina took 573.3716406822205 seconds
data load time 1.7621383666992188
North_Dakota took 45.391685009002686 seconds
data load time 18.103496313095093
Ohio took 584.1437547206879 seconds
data load time 7.573903799057007
Oklahoma took 217.74549007415771 seconds
data load time 10.076061725616455
Oregon took 301.44254517555237 seconds
data load time 20.920559883117676
Pennsylvania took 574.4190561771393 seconds
data load time 1.9967293739318848
Rhode_Island took 64.45150256156921 seconds
data load time 9.966526985168457
South_Carolina took 300.3995907306671 seconds
data load time 1.4746172428131104
South_Dakota took 55.62651538848877 seconds
data load time 13.1922287940979
Tennessee took 402.47819352149963 seconds
data load time 53.518688440322876
Texas took 1882.7636170387268 seconds
data load time 10.725084781646729
Utah took 242.32426834106445 seconds
data load time 1.0879600048065186
Vermont took 44.93601942062378 seconds
data load time 13.163090944290161
Virginia took 429.33234310150146 seconds
data load time 14.99793815612793
Washington took 458.0628502368927 seconds
data load time 2.475770950317383
West_Virginia took 74.5285427570343 seconds
data load time 9.611676454544067
Wisconsin took 285.82660484313965 seconds
data load time 1.6201403141021729
Wyoming took 48.82439923286438 seconds

In [8]:
timeseries_fn = f'../data/google_reviews_hourly.csv'
timeseries_df = pd.read_csv(timeseries_fn, header=0)
states = ["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "District_of_Columbia", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New_Hampshire", "New_Jersey", "New_Mexico", "New_York", "North_Carolina", "North_Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode_Island", "South_Carolina", "South_Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West_Virginia", "Wisconsin", "Wyoming"]
for state in states:
    state_csv = f'../data/google_reviews/timeseries_{state}_hourly.csv'
    timeseries_state_df = pd.read_csv(state_csv, header=0)
    timeseries_df = pd.concat([timeseries_df, timeseries_state_df], axis=0)
    timeseries_df = timeseries_df.groupby('category', as_index=False).sum()
timeseries_df.to_csv(timeseries_fn, index=False)

C:\Users\Coen\AppData\Local\Temp\ipykernel_81092\3115059659.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  timeseries_df = timeseries_df.groupby('category', as_index=False).sum()
C:\Users\Coen\AppData\Local\Temp\ipykernel_81092\3115059659.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  timeseries_df = timeseries_df.groupby('category', as_index=False).sum()
C:\Users\Coen\AppData\Local\Temp\ipykernel_81092\3115059659.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  timeseries_df = timeseries_df.groupby('category', as_index=False).sum()
C:\Users\Coen\AppData\Local\Temp\ipykernel_81092\3115059659.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  timeseries_df = timeseries_df.groupby('category', as_index=False).sum()
C:\Users\Coen\AppData\Local\Temp\ipykernel_81092\3115059659.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  timeseries_df = timeseries_df.groupby('category', as_index=False).sum()
C:\Users\Coen\AppData\Local\Temp\ipykernel_81092\3115059659.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  timeseries_df = timeseries_df.groupby('category', as_index=False).sum()
C:\Users\Coen\AppData\Local\Temp\ipykernel_81092\3115059659.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  timeseries_df = timeseries_df.groupby('category', as_index=False).sum()
C:\Users\Coen\AppData\Local\Temp\ipykernel_81092\3115059659.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  timeseries_df = timeseries_df.groupby('category', as_index=False).sum()
C:\Users\Coen\AppData\Local\Temp\ipykernel_81092\3115059659.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  timeseries_df = timeseries_df.groupby('category', as_index=False).sum()
C:\Users\Coen\AppData\Local\Temp\ipykernel_81092\3115059659.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  timeseries_df = timeseries_df.groupby('category', as_index=False).sum()
C:\Users\Coen\AppData\Local\Temp\ipykernel_81092\3115059659.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  timeseries_df = timeseries_df.groupby('category', as_index=False).sum()
C:\Users\Coen\AppData\Local\Temp\ipykernel_81092\3115059659.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  timeseries_df = timeseries_df.groupby('category', as_index=False).sum()
C:\Users\Coen\AppData\Local\Temp\ipykernel_81092\3115059659.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  timeseries_df = timeseries_df.groupby('category', as_index=False).sum()
C:\Users\Coen\AppData\Local\Temp\ipykernel_81092\3115059659.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  timeseries_df = timeseries_df.groupby('category', as_index=False).sum()
C:\Users\Coen\AppData\Local\Temp\ipykernel_81092\3115059659.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  timeseries_df = timeseries_df.groupby('category', as_index=False).sum()
C:\Users\Coen\AppData\Local\Temp\ipykernel_81092\3115059659.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  timeseries_df = timeseries_df.groupby('category', as_index=False).sum()
C:\Users\Coen\AppData\Local\Temp\ipykernel_81092\3115059659.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  timeseries_df = timeseries_df.groupby('category', as_index=False).sum()
C:\Users\Coen\AppData\Local\Temp\ipykernel_81092\3115059659.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  timeseries_df = timeseries_df.groupby('category', as_index=False).sum()
C:\Users\Coen\AppData\Local\Temp\ipykernel_81092\3115059659.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  timeseries_df = timeseries_df.groupby('category', as_index=False).sum()
C:\Users\Coen\AppData\Local\Temp\ipykernel_81092\3115059659.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  timeseries_df = timeseries_df.groupby('category', as_index=False).sum()
C:\Users\Coen\AppData\Local\Temp\ipykernel_81092\3115059659.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  timeseries_df = timeseries_df.groupby('category', as_index=False).sum()
C:\Users\Coen\AppData\Local\Temp\ipykernel_81092\3115059659.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  timeseries_df = timeseries_df.groupby('category', as_index=False).sum()
C:\Users\Coen\AppData\Local\Temp\ipykernel_81092\3115059659.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  timeseries_df = timeseries_df.groupby('category', as_index=False).sum()
C:\Users\Coen\AppData\Local\Temp\ipykernel_81092\3115059659.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  timeseries_df = timeseries_df.groupby('category', as_index=False).sum()
C:\Users\Coen\AppData\Local\Temp\ipykernel_81092\3115059659.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  timeseries_df = timeseries_df.groupby('category', as_index=False).sum()
C:\Users\Coen\AppData\Local\Temp\ipykernel_81092\3115059659.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  timeseries_df = timeseries_df.groupby('category', as_index=False).sum()
C:\Users\Coen\AppData\Local\Temp\ipykernel_81092\3115059659.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  timeseries_df = timeseries_df.groupby('category', as_index=False).sum()
C:\Users\Coen\AppData\Local\Temp\ipykernel_81092\3115059659.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  timeseries_df = timeseries_df.groupby('category', as_index=False).sum()
C:\Users\Coen\AppData\Local\Temp\ipykernel_81092\3115059659.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  timeseries_df = timeseries_df.groupby('category', as_index=False).sum()
C:\Users\Coen\AppData\Local\Temp\ipykernel_81092\3115059659.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  timeseries_df = timeseries_df.groupby('category', as_index=False).sum()
C:\Users\Coen\AppData\Local\Temp\ipykernel_81092\3115059659.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  timeseries_df = timeseries_df.groupby('category', as_index=False).sum()
C:\Users\Coen\AppData\Local\Temp\ipykernel_81092\3115059659.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  timeseries_df = timeseries_df.groupby('category', as_index=False).sum()
C:\Users\Coen\AppData\Local\Temp\ipykernel_81092\3115059659.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  timeseries_df = timeseries_df.groupby('category', as_index=False).sum()
C:\Users\Coen\AppData\Local\Temp\ipykernel_81092\3115059659.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  timeseries_df = timeseries_df.groupby('category', as_index=False).sum()
C:\Users\Coen\AppData\Local\Temp\ipykernel_81092\3115059659.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  timeseries_df = timeseries_df.groupby('category', as_index=False).sum()
C:\Users\Coen\AppData\Local\Temp\ipykernel_81092\3115059659.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  timeseries_df = timeseries_df.groupby('category', as_index=False).sum()
C:\Users\Coen\AppData\Local\Temp\ipykernel_81092\3115059659.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  timeseries_df = timeseries_df.groupby('category', as_index=False).sum()
C:\Users\Coen\AppData\Local\Temp\ipykernel_81092\3115059659.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  timeseries_df = timeseries_df.groupby('category', as_index=False).sum()
C:\Users\Coen\AppData\Local\Temp\ipykernel_81092\3115059659.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  timeseries_df = timeseries_df.groupby('category', as_index=False).sum()
C:\Users\Coen\AppData\Local\Temp\ipykernel_81092\3115059659.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  timeseries_df = timeseries_df.groupby('category', as_index=False).sum()
C:\Users\Coen\AppData\Local\Temp\ipykernel_81092\3115059659.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  timeseries_df = timeseries_df.groupby('category', as_index=False).sum()
C:\Users\Coen\AppData\Local\Temp\ipykernel_81092\3115059659.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  timeseries_df = timeseries_df.groupby('category', as_index=False).sum()
C:\Users\Coen\AppData\Local\Temp\ipykernel_81092\3115059659.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  timeseries_df = timeseries_df.groupby('category', as_index=False).sum()
C:\Users\Coen\AppData\Local\Temp\ipykernel_81092\3115059659.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  timeseries_df = timeseries_df.groupby('category', as_index=False).sum()
C:\Users\Coen\AppData\Local\Temp\ipykernel_81092\3115059659.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  timeseries_df = timeseries_df.groupby('category', as_index=False).sum()
C:\Users\Coen\AppData\Local\Temp\ipykernel_81092\3115059659.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  timeseries_df = timeseries_df.groupby('category', as_index=False).sum()
C:\Users\Coen\AppData\Local\Temp\ipykernel_81092\3115059659.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  timeseries_df = timeseries_df.groupby('category', as_index=False).sum()
C:\Users\Coen\AppData\Local\Temp\ipykernel_81092\3115059659.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`

In [20]:
timeseries_fn = f'../data/google_reviews_weekly.csv'
timeseries_df = pd.read_csv(timeseries_fn, header=0)
display(timeseries_df)

,category,1167638400.0,1168243200.0,1168848000.0,1169452800.0,1170057600.0,1170662400.0,1171267200.0,1171872000.0,1172476800.0,...,1627286400.0,1627891200.0,1628496000.0,1629100800.0,1629705600.0,1630310400.0,1630915200.0,1631520000.0,1632124800.0,1632729600.0
3D printing service,0,0,0,0,0,0,0,0,0,0,...,5,0,0,0,1,0,0,0,0,0
ATM,0,0,0,0,0,0,0,0,0,0,...,949,646,537,296,146,19,0,0,0,0
ATV dealer,0,0,0,0,0,0,0,0,0,0,...,42,26,21,15,18,0,0,0,0,0
ATV rental service,0,0,0,0,0,0,0,0,0,0,...,40,21,18,8,4,0,0,0,0,0
ATV repair shop,0,0,0,0,0,0,0,0,0,0,...,61,42,25,10,15,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Youth organization,0,0,0,0,0,0,0,0,0,0,...,52,37,27,13,11,0,0,0,0,0
Youth social services organization,0,0,0,0,0,0,0,0,0,0,...,11,2,2,0,0,0,0,0,0,0
Yucatan restaurant,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Zoo,0,0,0,0,0,0,0,0,0,0,...,34,29,8,3,5,0,0,0,0,0
shipwreck,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
start_date = datetime.datetime(2020, 1, 1, 00, 00).timestamp()
print(start_date)

1577865600.0

In [20]:
cols = list(timeseries_df.columns)
for i in range(1000):
    if start_date+200*i in cols:
        print(start_date+200*i)
        break
# .index(start_date+200*3)

In [30]:
print(cols[1000*100*2])

1550930400.0

In [42]:
print(timeseries_df.iloc[:,1000*100*2:])

     1550930400.0 1550934000.0 1550937600.0 1550941200.0 1550944800.0  \
0               0            0            0            0            0
1              73           63           81           79           75
2              13            9           14           18           32
3               0            1            2            2            1
4               7            4            5            7           16
...           ...          ...          ...          ...          ...
4564            2            2            2            9            1
4565            0            0            0            1            1
4566            0            0            0            0            0
4567           22           22           30           26           31
4568            0            0            0            0            0

     1550948400.0 1550952000.0 1550955600.0 1550959200.0 1550962800.0  ...  \
0               0            0            0            0            0  ...
1              87           77           71           87           83  ...
2              19           21           29           15           18  ...
3               0            4            1            1            3  ...
4              15            9           14            9            8  ...
...           ...          ...          ...          ...          ...  ...
4564            4            5            1            2            4  ...
4565            2            2            3            1            1  ...
4566            0            0            0            0            0  ...
4567           45           50           54           62           46  ...
4568            0            0            0            0            0  ...

     1696024800.0 1696028400.0 1696032000.0 1696035600.0 1696039200.0  \
0               0            0            0            0            0
1               0            0            0            0            0
2               0            0            0            0            0
3               0            0            0            0            0
4               0            0            0            0            0
...           ...          ...          ...          ...          ...
4564            0            0            0            0            0
4565            0            0            0            0            0
4566            0            0            0            0            0
4567            0            0            0            0            0
4568            0            0            0            0            0

     1696042800.0 1696046400.0 1696050000.0 1696053600.0 1696057200.0
0               0            0            0            0            0
1               0            0            0            0            0
2               0            0            0            0            0
3               0            0            0            0            0
4               0            0            0            0            0
...           ...          ...          ...          ...          ...
4564            0            0            0            0            0
4565            0            0            0            0            0
4566            0            0            0            0            0
4567            0            0            0            0            0
4568            0            0            0            0            0

[4569 rows x 40314 columns]

In [44]:
timeseries_df_cut = pd.concat([timeseries_df.iloc[:,0], timeseries_df.iloc[:,1000*100*2:]], axis=1)

In [45]:
print(timeseries_df_cut)

                                category 1550930400.0 1550934000.0  \
0                    3D printing service            0            0
1                                    ATM           73           63
2                             ATV dealer           13            9
3                     ATV rental service            0            1
4                        ATV repair shop            7            4
...                                  ...          ...          ...
4564                  Youth organization            2            2
4565  Youth social services organization            0            0
4566                  Yucatan restaurant            0            0
4567                                 Zoo           22           22
4568                           shipwreck            0            0

     1550937600.0 1550941200.0 1550944800.0 1550948400.0 1550952000.0  \
0               0            0            0            0            0
1              81           79           75           87           77
2              14           18           32           19           21
3               2            2            1            0            4
4               5            7           16           15            9
...           ...          ...          ...          ...          ...
4564            2            9            1            4            5
4565            0            1            1            2            2
4566            0            0            0            0            0
4567           30           26           31           45           50
4568            0            0            0            0            0

     1550955600.0 1550959200.0  ... 1696024800.0 1696028400.0 1696032000.0  \
0               0            0  ...            0            0            0
1              71           87  ...            0            0            0
2              29           15  ...            0            0            0
3               1            1  ...            0            0            0
4              14            9  ...            0            0            0
...           ...          ...  ...          ...          ...          ...
4564            1            2  ...            0            0            0
4565            3            1  ...            0            0            0
4566            0            0  ...            0            0            0
4567           54           62  ...            0            0            0
4568            0            0  ...            0            0            0

     1696035600.0 1696039200.0 1696042800.0 1696046400.0 1696050000.0  \
0               0            0            0            0            0
1               0            0            0            0            0
2               0            0            0            0            0
3               0            0            0            0            0
4               0            0            0            0            0
...           ...          ...          ...          ...          ...
4564            0            0            0            0            0
4565            0            0            0            0            0
4566            0            0            0            0            0
4567            0            0            0            0            0
4568            0            0            0            0            0

     1696053600.0 1696057200.0
0               0            0
1               0            0
2               0            0
3               0            0
4               0            0
...           ...          ...
4564            0            0
4565            0            0
4566            0            0
4567            0            0
4568            0            0

[4569 rows x 40315 columns]

In [47]:
timeseries_fn = f'../data/google_reviews_hourly_cut.csv'

timeseries_df_cut.to_csv(timeseries_fn, index=False)

In [ ]:
index = np.sum(timeseries_df_cut.iloc[:, 1:], axis=1) > 1000000

In [67]:
ind = np.nonzero(index)

In [69]:
timeseries_df_cut_top = timeseries_df_cut.iloc[ind]

In [72]:
timeseries_fn = f'../data/google_reviews_hourly_cut_top.csv'
timeseries_df_cut_top.to_csv(timeseries_fn, index=False)